<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Node-CMS - Admin</title>
  <link rel="stylesheet" href="<%= adminassets%>/css/style.css">
  <link href='http://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="<%= adminassets%>/css/uniform.default.css" type="text/css" media="screen" charset="utf-8" />  
</head>
<body>
	
	
  <div id="container">
	  <div id='closer'>X</div>
    <div id="main">
       <h1><%= content.title.text %></h1>
	     <h2><%= location.contenttype %></h2>
	 		 <div class='section'>
					<!-- ><pre>
						Properties:
						<%= sys.inspect(content.getProperties()) %>
						
						Location:
						<%= sys.inspect(location)%>
						
						Children
						<%= sys.inspect(children)%>
					</pre> -->
					<div class="message"></div>
		 	 		<form id='editor'>
						<input type='hidden' name='__id' value='<%= id %>'>
						<%
							content.getProperties().forEach(function(item){
								if(item.value.uneditable){
									//this item is flagged to be ignored
									return
								}
								if(item.value.type == 'Text'){
								%>
								  <div class='inputgroup'>
									  <div class='label'><%=item.value.adminLabel%></div>
									  <input class="prop" type='text' name='<%=item.name%>' value='<%= item.value.text %>'/>
								  </div>
								<%	
								}
								else if(item.value.type == 'RichText'){
								%>
									<div class='inputgroup'>
										<div class='label'><%=item.value.adminLabel%></div>
										<textarea class="prop" name='<%=item.name%>' /><%= item.value.markdownValue %></textarea>
									</div>
								<%	
								}
								else if(item.value.type == 'SingleDate'){
								%>
									<div class='inputgroup'>
									  <div class='label'><%=item.value.adminLabel%></div>
									  <input class="prop" type='text' name='<%=item.name%>' value='<%= item.value.date %>'/>
								  </div>
								<%	
								}
								else if(item.value.type == 'Boolean'){
								%>
									
								<%	
								}
								else if(item.value.type == 'Select'){
								%>
								
								<%	
								}
								else if(item.value.type == 'Image'){
								%>
									<div class='inputgroup'>
										<div class='label'><%=item.value.adminLabel%></div>
										<input class="prop" type='file' name='<%=item.name%>' />
										<img src="<%=item.value.url%>" />
									</div>
								<%	
								}
								else if(item.value.type == 'File'){
								%>
								
								<%	
								}
							});
						%>
			
						<div class='inputgroup'>
							<div class='label'>Advanced</div>
							<p>Page layout: <select name='__template'>
								<%
									templates.forEach(function(item){
										%><option><%= item %></option><%
									});
								%>
							</select></p>
							<p>Hide this page from navigation and other lists 
								<input name='__hidden_from_navigation' type='checkbox' value='true' <%= (location.hidden_from_navigation) ? 'checked':''%> /></p>
						</div>
						<button type='submit' id="save" value='Save' class="right orange" >Save</button>
					</form>
			</div>
			<div class='break'></div>
			<hr>
			<div class='section'>
				<h2>Content under this Folder</h2>
				<table>
					<%
					children.forEach(function(item){
					%>
					<tr><td><a href="<%=item.slug%>"><%=item.slug%></a></td><td><%=item.contenttype%></td><td>Dec 2, 2010</td><td><a href="<%=item.slug%>">edit</a></td><td><a href="">delete</a></td></tr>	
					<%
					});
					%>
				</table>
				<button type='submit' id="addcontent" class="right orange" >Add new content item under this <%= location.contenttype %></button>
				<div class="break"></div>
			</div>
    </div>
    <em>Last Updated: <%= content.updated_at.date %></em>
  </div> <!--! end of #container -->

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.8/jquery-ui.min.js"></script>
	<script type="text/javascript" src="<%= adminassets%>/wmd/wmd.js"></script>
	<script src="<%= adminassets%>/js/jquery.uniform.js" type="text/javascript"></script>
  <script src="<%= adminassets%>/js/script.js?v=1"></script>


</body>
</html>